@import 'nav1';
@import 'nav2';
@import '../variables.scss';

header{
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary;
    z-index: 1000;
    .main_nav{
        width: 100%;
        max-width: 1080px;
        padding: 5px;
        padding-bottom: 10px;
        margin: auto;
        display: flex;
        flex-direction: column;
        @include nav1;
        @include nav2
        
    }
}