@import '../variables.scss';
@mixin nav1{
    //phone
    .nav1{
        display: flex;
        
        margin-bottom: 5px;
        color: $quarternary;
        position: absolute;
        background-color: $quarternary;
        border: 1px solid $primary;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80%;
        overflow: hidden;
        flex-direction: column;
        z-index: 100;
        color: $primary;
        padding: 10px;
        .nav1-list-options{
            flex-direction: column;
            margin-top: 20px;
            align-items: center;
            border-top: 1px solid $primary;
            li{
                margin: 10px 0;
                color: $primary;
            }
        }
        .fa-close{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.9em;
        }
        ul{
            display: flex;
            list-style-type: none;
            .account_nav{
                border: 1px solid rgb(95, 95, 95);
                padding: 0 5px;
                &:hover{
                    border: 1px solid $tertiary;
                }
            }
            a{
                color: $quarternary;
                display: flex;
                &:hover{
                    color: $tertiary;
                    cursor: pointer;
                }
                

            }
            li{
                margin: 0 5px;
                &:hover{
                    color: $tertiary;
                    cursor: pointer;
                }
            }
            p{
                margin-right: 10px;
            }
            p, li{
                font-family: $secondaryFont;
                font-size: 1.3em;
                font-weight: 100;
            }
        }
    }
//tablet and pc
    @media only screen and (min-width : 500px) {
        .nav1{
            position: static;
            background-color: transparent;
            justify-content: space-between;
            height: max-content;
            flex-direction: row;
            width: 100%;
            color: $quarternary;
            border: none;
            padding: 0px;
            .fa-close{
                display: none;

            }
            .nav1-list-options{
                flex-direction: row;
                align-items: flex-start;
                margin-top: 0;
                

                li{
                    margin: 0 5px;
                    color: $quarternary;
                }
                
            }
            ul{
                p, li{
                    font-size: 0.8em;
                }
            }
        }
        
    }

}