@import '../variables.scss';
@mixin nav1{
    .nav1{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        color: $quarternary;
        ul{
            display: flex;
            list-style-type: none;
            .account_nav{
                border: 1px solid rgb(95, 95, 95);
                padding: 0 5px;
                &:hover{
                    border: 1px solid $tertiary;
                }
            }
            a{
                color: $quarternary;
                display: flex;
                &:hover{
                    color: $tertiary;
                    cursor: pointer;
                }
                

            }
            li{
                margin: 0 5px;
                &:hover{
                    color: $tertiary;
                    cursor: pointer;
                }
            }
            p{
                margin-right: 10px;
            }
            p, li{
                font-family: $secondaryFont;
                font-size: 0.8em;
                font-weight: 100;
            }
        }
    }

}