@import '../variables.scss';
@import './home/previewContainer.scss';
@import './home/popularCategory.scss';
@import './home/homeProductList.scss';

.home{
    margin-top: 100px;
    padding: 10px;

    @include forYou;
    @include previewContainer;
    @include popularCategory;
    .previewContainer, .popularCategory{
        display:none

    }
}
@media only screen and (min-width: 600px){
    .home{
        .previewContainer, .popularCategory{
            display:block !important
    
        }

    }
    


}