@import '../../variables.scss';

@mixin productList{
    .ProductListContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .productContainer{
            border: 1px solid $quarternary;
            width: 40%;
            max-width: 170px;
            margin: 5px;
            display: flex;
            flex-direction: column;
            .prev-img{
                width: 100%;
                height: 170px;
                background-color: $quarternary;
                img{
                    width: 100%;
                    height: 100%;
                }

            }
            .productInfo{
                padding: 10px;
                margin-top: auto;
                h3{
                    margin-bottom: 20px;
                    font-family: $primaryFont;
                    color: $secondary;
                }
                .priceNstock{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    flex-direction: column;
                    .price{
                        font-family: $secondaryFont;
                        color: $quarternary2;
                        margin-right: 10px;
                    }
                    .stock{
                        font-family: $secondaryFont;
                        color: $quarternary2;
                    }
                }
                .viewHeartSales{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    i, p{
                        // font-family: $secondaryFont;
                        color: $quarternary2;

                    }
                }

            }
            .productOption{
                display: flex;
                border-top: 1px solid $quarternary;
                max-height: 50px;
                margin-top: auto;
                div{
                    border-right: 1px solid $quarternary;
                    width: 0;
                    padding: 0;
                }
                a{
                    width: 100%;
                }
                button{
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    color: $quarternary2;
                }

            }
        }
    }

    

}