@import '../variables.scss';
@mixin addProducts{
    .addProducts{
        margin-top: 10px;
        .isLoading{
            opacity: 0.7;
            pointer-events: none;
            .isLoadingTag{
                display: block !important;
            }
        }
        .addProductsForm{
            .isLoadingTag{
                display: none;
                font-family: $primaryFont;
                color: $secondary;
                text-align: center;
            }
            width: 80%;
            margin: auto;
            background-color: white;
            padding: 20px;
            h1{
                font-family: $primaryFont;
                color: $secondary;
            }
            
            .sampleImages{
                display: flex;
                // max-height: 100px;
                max-width: 50%;
                // overflow-x: auto;
                img{
                    max-height: 100px;
                    margin: 5px;
                }
            }
            
            .inputContainer{
                display: flex;
                margin: 20px 0;
                align-items: center;
                .error{
                    border: 1px solid red !important;
                    color: red !important;
                    i{
                        color: red !important;
                    }
                }
                
                input{
                    width: 50%;
                    padding: 5px;
                    font-family: $secondaryFont;
                    outline: none;

                }
                select{
                    background-color: white;
                    outline: none;
                    padding: 5px;
                    font-family: $secondaryFont;
                }
                input[type=file]{
                    display: none;
                }
                input[type=submit]{
                    background-color: $secondary;
                    border: none;
                    color: $quarternary;
                    width: 30%;
                }
                p{
                    width: 30%;
                    font-family: $secondaryFont;
                    color: $secondary;
                }
                label{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid rgb(107, 107, 107);
                    padding: 10px;
                    i{
                        font-size: 1.5em;
                        color: rgb(53, 53, 53);
                        
                    }
                }

                textarea{
                    min-height: 200px;
                    width: 60%;
                    padding: 10px;
                    font-family: $secondaryFont;
                    outline: none;


                }

            }
        }
    
    }

}

