@import '../variables.scss';

.pendingOrderContainer, .sellerOrderContainer{
    width: 100%;
    height: 100%;
    .pendingOrderList{
        tbody{
            td:nth-child(8) {
                background-color: white;
              }
        }

    }
    
    .pendingOrderList, .sellerOrderList{
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 30px;
        overflow: auto;
        font-family: $secondaryFont;
        table{
            
            width: 100%;
            border-collapse: collapse;
            
            
            thead{
                background-color: $primary;
                th{
                    background-color: $primary;
                    padding: 10px;
                    text-align: left;
                    color: $quarternary;
                    
                }
            }
            tbody{
                tr:nth-child(even) {
                    background-color: #eee;
                }
                td{
                    padding: 10px;
                }
                
                img{
                    height: 100px;
                    width: 100px;
                }
                
            }
            
        }

    }
    

}