@import '../variables.scss';
@import './viewProduct/filter.scss';
@import './viewProduct/header.scss';
@import './viewProduct/productList.scss';
@mixin viewProduct{
    .viewSellerProducts{
        margin-top: 10px;
        background-color: white;
        min-height: 100vh;
        width: 100%;
        @include filter;
        
        .productList{
            width: 90%;
            margin: auto;
            margin-top: 20px;
            @include header;
            @include productList;
        }
    }
}