@import '../variables.scss';
.sellUShopAuth{
    header{
        .nav_sellUShopAuth{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            h1{
                font-size: 2.5em;
            }
            h1, h3{
                font-family: $primaryFont;
                cursor: pointer;
                color: $tertiary;
                &:hover{
                    color: white;
                }
            }
        }
    }
}