@import '../../variables.scss';

@mixin forYou{
    .forYou{
        width: 100%;
        position: relative;
        .filter{
            display: flex;
            padding: 10px;
            background-color: white;
            align-items: center;
            h4{
                font-family: $primaryFont;
                color: $primary

            }
            li{
                margin: 0 10px;
                font-family: $secondaryFont;
                color: $primary;
                padding: 5px;
                width: 20%;
                min-width: 70px;
                background-color: $quarternary;
                text-align: center;
                &:hover{
                    background-color: $tertiary;
                    color: $quarternary;
                    
                }
            }

            .active{
                background-color: $tertiary;
                color: $quarternary;

            }
            ul{
                display: flex;
                list-style-type: none;
                margin-left: 30px;
                width: 50%;
            }
        }
        button{
            margin-top: 20px;
            width: 70%;
            background-color: $tertiary;
            color: $quarternary;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .productContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 10px;
            h1{
                font-family: $primaryFont;
                color: $primary;
    
            }
            
            .product{
                border: 1px solid $quarternary;
                width: 40%;
                max-width: 170px;
                margin: 5px;
                display: flex;
                flex-direction: column;
                background-color: white;
                .prev-img{
                    width: 100%;
                    
                    background-color: $quarternary;
                    img{
                        width: 100%;
                        height: 170px;
                    }
    
                }
                .productInfo{
                    padding: 10px;
                    margin-top: auto;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h3{
                        margin-bottom: 20px;
                        font-family: $primaryFont;
                        color: $secondary;
                    }
                    .priceNstock{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        flex-direction: column;
                        margin: 0;
                        margin-top: auto;
                        .price{
                            font-family: $secondaryFont;
                            color: $quarternary2;
                            margin-right: 10px;
                        }
                        .stock{
                            font-family: $secondaryFont;
                            color: $quarternary2;
                        }
                    }
                    .viewHeartSales{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        i, p{
                            // font-family: $secondaryFont;
                            color: $quarternary2;
    
                        }
                    }
                }
            }
        }
        
    }
}