@import 'nav1';
@import 'nav2';

header{
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    nav{
        width: 100%;
        max-width: 1080px;
        padding: 5px;
        padding-bottom: 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
        @include nav1;
        @include nav2
        
    }
}