@mixin nav1{
    .nav1{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        ul{
            display: flex;
            list-style-type: none;
            li{
                margin: 0 10px;
            }
        }
    }

}