$primaryFont : 'Balsamiq Sans', cursive;
$secondaryFont : 'Noto Sans JP', sans-serif;
$primary: 	#232f3e;
$secondary: #146eb4;
$tertiary: #ff9900;
$quarternary : #f2f2f2;
$quarternary2 : #a7a7a7;
$error : rgb(255, 112, 112)